<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fa")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
</head>
<body ng-app="app">
    @Html.Partial("~/Views/Shared/_Topbar.cshtml")
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Job Mtaani</p>
        </footer>
    </div>


    <script>
        window.JobMtaani = {};
        (function (jm) {
            var rootPath;
            jm.rootPath = rootPath;
        }(window.JobMtaani));
        JobMtaani.rootPath = '@Url.Content("~")';
    </script>

    <!--Library Scripts-->
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-touch.js"></script>
    <script src="~/Scripts/angular-cookies.js"></script>
    <script src="~/Scripts/ui-bootstrap-1.3.3.js"></script>

    <!--Application Script-->
    <script src="~/app/app.module.js"></script>

    <!--Module Scripts-->
    <script src="~/app/services/services.module.js"></script>
    <script src="~/app/ads/ads.module.js"></script>
    <script src="~/app/home/home.module.js"></script>
    <script src="~/app/payments/payments.module.js"></script>
    <script src="~/app/profile/profile.module.js"></script>
    <script src="~/app/dashboard/dashboard.module.js"></script>
    <script src="~/app/widgets/widgets.module.js"></script>
    <!--Domain Classes-->
    <script src="~/app/ads/ad.js"></script>
    <script src="~/app/models/category.js"></script>
    <script src="~/app/models/profileModel.js"></script>
    <script src="~/app/valueobjects/notificationsValueObject.js"></script>
    <!--Services Scripts-->
    <script src="~/app/services/navigationService.js"></script>
    <script src="~/app/services/adService.js"></script>
    <script src="~/app/services/accountService.js"></script>
    <script src="~/app/services/currentUser.js"></script>
    <script src="~/app/services/categoryService.js"></script>
    <script src="~/app/services/paymentsService.js"></script>
    <!--Controller Scripts-->
    <script src="~/app/home/homeController.js"></script>
    <script src="~/app/ads/adsController.js"></script>
    <script src="~/app/profile/accountController.js"></script>
    <script src="~/app/dashboard/categoryController.js"></script>
    <script src="~/app/ads/adController.js"></script>
    <script src="~/app/profile/profileController.js"></script>
    <script src="~/app/payments/paymentsController.js"></script>
    <script src="~/app/profile/loginController.js"></script>
    <!--Widgets Scripts-->
    <script src="~/app/widgets/categoryWidget.js"></script>
    <script src="~/app/widgets/loginWidget/loginWidget.js"></script>
    <script src="~/app/widgets/adsWidget/adsWidget.js"></script>
    <script src="~/app/widgets/profile/profileTabWidget.js"></script>
    <script src="~/app/profile/widgets/directives/profileWidget.js"></script>
    <script src="~/app/profile/widgets/dashboardWidget.js"></script>
    <script src="~/app/widgets/adsWidget/logic/topAdsWidget.js"></script>
    <!--Other Scripts-->
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
